.fondo_negro{background-color: #000000;}
.fondo_blanco{background-color: #ffffff !important;}
.fondo_blanco3{background-color:#ffffff45 ;}
.fondo_rojo{ background-color: #ea3c46;}
.fondo_azul{background-color: #4f87c4bf !important;}
.fondo_azul2{background:#2f5ba3 !important;}
.fondo_azul3{background:#0e7af324 !important;}
.fondo_azul4{background: #2d384a;}
.borde_verde {border:1px solid #4bb761;}
.color_blanco {color: #ffffff !important;}
.colorgr {color:grey;}
.colorgr:hover{color: #ee6a00;}
.color_verde_motoryruedas{color: #4bb761;}
.color_rojo{color: #ea3c46;}
.fondo_naranja{background:#ff9d37;}
.fondo_inicio{background-color: #2352a4;}
.color_azul{color:  #002d7b;}
/*.color_azul original{
    color:  #002d7b;
}*/
.negrita{font-weight: bold;}
.fondo_verde{background-color:#89af15;}
.fondo_verde-azul{background-color: #00679a;}
.color_verde{color:#4fd5c5;}
.fondo_gris{background-color:#afafaf !important;}
.fondo_gris2{background-color:#f5f7fa;}
.color_negro{color: black;}
.fondogr2{color: #2d2d2d;}
.color_amarillo{ color: #d8a700;}
.fondo_amarillo{ background: #ceb483 !important;}
.color_blanco2{color:#e4e0e066;}
.color_gris{color:#6d6c6cbd ;}
.color_gris2{color:#000000a1 ;}
.color-rojo{color: #b11e29;}
.color-coffe{color: #6b2727;}
.fondo_gris3{background:#cfd2d645;}
.color_golden{color: #cfb787;}
.fondo_transp{background: #4f87c40a;}