.nav-menu-container ul {
  margin-top: 28px;
}

.nav-menu-container ul li {
  line-height: 4em;
}

#logo-img {
  max-width: 240px;
  height: auto;
}

.img-fluid.mx-auto {
  max-width: 120px;
}

.panel.pt-70.pb-70.mt-50.animate.violeta {
  background-image: url('/public/assets/img/inicio/fondo2.png');
  background-size: auto;
  background-position: 0% 36%;
  background-repeat: no-repeat;
}

#success {
  display: inline !important;
  float: left !important;
  margin-left: 0px !important;
}
